.newsreader-greeting-text {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #426B1F;
    padding-top: 100px;
    text-align: center;
  }
  .newsreader-additional-text {
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      color: #426B1F;
      padding-top: 25px;
      text-align: center;
    }
  .footprint-button-profile {
      background-color: #426B1F;
      color: white;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      justify-content: center;
      font-size: 17px;
      height: 57px;
      margin-top: 50px;
      position: absolute;
      left: 43%;
  }
  .newsreader-data-text {
      padding-top: 50px;
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      color: #426B1F;
      text-align: center;
  }
  .recommendation {
      margin: 20px;
      align-items: center;
  }
  .recommendations-section {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      padding-top: 50px;
      width: 850px;
  }
  .recommendation-text {
      margin-left: 10px;
      padding-top: 5px;
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size: 18px;
      text-align: center;
  }
  .footprint-performance {
      font-weight: 600;
  }
  .progress-label {
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      color: #426B1F;
      padding-top: 70px;
      text-align: left;
      padding-left: 150px;
  }

  .recommendation-card {
    margin-top: 20px;
    width: 900px;
  }

  .recommendation-icon {
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }